<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Livros</title>
		</head>
	<body>

		<h1>Adicionar Livro</h1>
		<form action="/books/save" method="post">
				<fieldset>
					<legend>Dados do Livro:</legend>
					<label for="book">Nome do Livro</label>
					<input type="text"id="book" name="book" placeholder= "Informe o nome compleo do livro"/>
				</br>	<br>
				<label for="author">Autor:</label>
				<select id="author" name="author">
					<option value="Monteiro Lobato">Monteiro Lobato</option>
					<option value="José de Alencar">José de Alencar</option>
					<option value="Cecília Meireles">Cecília Meireles</option>
					<option value="Carlos Drummond de Andrade">Carlos Drummond de Andrade</option>
				</select>
				<br><br> 
				<label for="publisher">Editora:</label>
				<select id="publisher" name="publisher">
					<option value="Companhia da Letras">Companhia da Letras</option>
					<option value="Aleph">Aleph</option>
					<option value="Suma">Suma</option>
					<option value="Editora Intrínseca">Editora Intrínseca</option>
					<option value="Grupo Editorial Record">Grupo Editorial Record</option>
					<option value="Editora Rocco">Editora Rocco</option>
					<option value="Globo Livros">Globo Livros</option>
					<option value="Darkside Books">Darkside Books</option>
					<option value="Harper Collins">Harper Collins</option>
					<option value="Editora Arqueiro">Editora Arqueiro</option>
					<option value="Leya">Leya</option>
					<option value="Saraiva">Saraiva</option>
					<option value="FTD">FTD</option>
			</select>
		</br><br>
				<label for="publisheddate">Data de publicação:</label>
				<input type="date" id="publisheddate" name="publisheddate">
				<br></br>
				<label for="category">Categoria:</label>
				<select id="category" name="category">
					<option value="Biografias ">Biografias </option>
					<option value="Folclore ">Folclore </option>
					<option value="Literatura Brasileira ">Literatura Brasileira </option>
					<option value="Genealogia ">Genealogia </option>
					<option value="Humor">Humor</option>
					<option value="Infanto juvenis">Infanto juvenis </option>
					<option value="Manuscritos"> Manuscritos </option>
					<option value="Poesia">Poesia</option>
					<option value="Artes">Artes</option>
					<option value="Ciências Exatas">Ciências Exatas</option>
					<option value="História do Brasil">História do Brasil</option>
					<option value="Moda">Moda</option>
					<option value="Sociologia">Sociologia</option>
				</select>
				<br><br>
				
				<label for="isbn_13">Código ISBN-13:</label>
				<input type="number" id="isbn_13" name="isbn_13">
				<br><br>
				<label for="sinopsis">Sinopse:</label>
				<textarea name="sinopsis" rows="10" cols="40">
					O livro comenta sobre ....
				</textarea>
				<br><br>
				<label for="imageLink">Link da Imagem de capa:</label>
				<input type="url" id="imageLink" name="imageLink">
				<br><br>
				<input type="submit" value="Salvar">
			</fieldset> 
		</form>
	</body>
</html>
