<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro">Editora</h1>
				<div class="jumbotron">
					<div class="row">
						<div class="col col-sm-3"></div>
						<div class="col col-sm-6">
							<div action="/publishers/save" method="post">
								<div class="form-group">
									<label for="fname">Nome:</label><br>
									<input type="text" class="form-control" id="name" name="name"><br>
									<div class="row">
										<div class="col">
											<input class="btn btn-primary btn-sm" type="submit" value="Submit">
											<a href="/editoras" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Cancela</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col col-sm-3"></div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html>