<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<h1 class="centro">Cadastro de Autor</h1>
				<div class="jumbotron">
					<div class="row">
						<div class="col col-sm"></div>
						<div class="col col-sm">
							<form action="/authors/save" class="form-group" method="post">
								<label for="fname">Nome:</label><br>
								<input type="text" class="form-control" id="name" name="name"><br>
								<label for="fname">Data de nascimento:</label><br>
								<input type="date" class="form-control" id="birthdate" name="birthdate"><br>
								<div class="row">
									<div class="col">
										<input class="btn btn-primary btn-sm" type="submit" value="Submit">
										<a href="/autores" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Cancela</a>
									</div>
								</div>
							</form>
						</div>
						<div class="col col-sm"></div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html>