<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Editora</title>
		</head>
	<body>

		<h1>Editora</h1>
		<table>
			<tr>
				<td>Id</td>
				<td>Editora</td>
			</tr>
			<tr>
				<td><%= publisher.id%>  </td>
				<td><%= publisher.name %>  </td>
			</tr>
		</table>

	</body>
</html>