<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %> 
		</head>
	<body>
<header>
		<%- include('../partials/header') %> 
</header>
	<main>
		<h1 class='centro'>Bem vindo ao</h1>
		<h1 class="centro" style="margin-bottom: 100px;">Cadastro de Sinposes de Livros</h1> 
		<div class="container">

				<div class="row mx-md-n5">
					<div class="col px-md-5">
						<div class="p-3 border bg-light">
							<a href="/livros/lista" class="btn btn-primary btn-custom">
								<span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span>
								Livros
							</a>
						</div>

					</div>
					<div class="col px-md-5">
						<div class="p-3 border bg-light">
							<a href="/autores/lista" class="btn btn-primary btn-custom">
								<span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span>
								Autores
							</a>
						</div>
					</div>
				</div> <!-- div row 1-->

				<div class="row mx-md-n5" >
					<div class="col px-md-5">
						<div class="p-3 border bg-light">
							<a href="/editoras/lista" class="btn btn-primary btn-custom">
								<span class="glyphicon glyphicon-ok img-circle text-primary btn-icon"></span>
								Editoras
							</a>
						</div>
					</div>
					<div class="col px-md-5">
						<div class="p-3 border bg-light">
							<a href="/categorias/lista" class="btn btn-primary btn-custom">
								<span class="glyphicon glyphicon-ok img-circle text-primary btn-icon mx-auto"></span>
								Categorias
							</a>
						</div>
					</div>	
				</div><!--div row 2-->

		</div>
	</main>
	<footer>
		<%- include('../partials/footer') %> 
	</footer>
	</body>
</html>