<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %> 
		</head>
	<body>
<header>
		<%- include('../partials/header') %> 
</header>
	<main>
		<h1 class='centro'>Bem vindo a página inicial</h1>
		<div class="jumbotron" style="margin: 20px 100px;">
			<div class="container">
				<div class="row"">
					<div class="col-sm-6">
						<a href="/livros/lista">Livros</a>
					</div>
					<div class="col-sm-6">
						<a href="/autores/lista">Autores</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<a href="/editoras/lista">Editoras</a>
					</div>
					<div class="col-sm-6">
						<a href="/categorias/lista">Categorias de livros</a>
					</div>	
				</div>
			</div>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer') %> 
	</footer>
	</body>
</html>