<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<%- include('../partials/head') %>
		</head>
	<body>
		<header>
				<%- include('../partials/header') %>
		</header>
		<main>
			<div class="container-fluid">
				<% console.log(validator);  %> 
				<% if(validator !== undefined) {%>
					<div class="alert alert-danger" role="alert">
						<ul>
							<% for( var i = 0; i < validator.errors.length; ++i) { %> 
								<li>
									<%= validator.errors[i].msg %>
									<% console.log('deu esse erro ==>>', validator.errors[i].msg); %>
								</li>
							<% } %> 
						</ul>
					</div>
				<% } %> 	
				<h1 class="centro">Cadastro de Categoria</h1>

					<div class="row">
						<div class="col col-sm"></div>
						<div class="col col-sm">
							<div class="jumbotron">
								<form action="/categoria/novo" class="form-group" method="post">
									<label for="fname">Categoria:</label><br>
									<input type="text" class="form-control" id="category" name="category"><br>
									<div class="row">
										<div class="col col-sm-4"></div>
										<div class="col col-sm-4">
											<input class="btn btn-primary btn-sm" type="submit" value="Salvar">
											<a href="/categorias/lista" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true">Cancela</a>
										</div>
									</div>
									<div class="col col-sm-4"></div>
									</form>
								</div>
							</div>
						<div class="col col-sm"></div>
					</div>

			</div>
		</main>
		<footer>
			<%- include('../partials/footer') %> 
		</footer>
	</body>
</html>